<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">


<div class="index">
  <section id="title">
    <h2>安全な空の旅を― </h2>
  </section>

  <section id="prologue">
    <h21>―prologue―</h21>
    <h22>
      <p>飛行機の事故率は<span style="color:red;">0.001％</span>。</p>
      <p>この安全性を生み出しているのは、</p>
      <p>過去の事故の教訓と反省。</p>
      <p>事故を風化させず、</p>
      <p>空の安全をこれからも守っていくために。</p>
    </h22>
  </section>

  <h3> 記事一覧</h3>
  <div class="bg_pettern Polka">
      <p> <%= link_to "新規投稿はこちら", new_tweet_path, class:"new-posts" %> </p>
    <div class="tweets-container">
      <% @tweets.each do |t| %>
        <div class="tweet">
          <ul style = "list-style-type:none;">
          <p> <%= link_to t.user.name, user_path(t.user.id),class:"user-name" %> </p>
          <li> <%= link_to t.title, tweet_path(t.id), class:"title"%> </li>
          <div class="data">
            <p> <%= t.date %>@<%= t.place %> </p>
          </div>
          <div class="about">
            <div class="abouts">
              <li>
                <span class="col-1">機種</span>
                <span class="col-2"><%= t.model %></span>
              </li>
              <li>
                <span class="col-1">会社</span>
                <span class="col-2"><%= t.company %></span>
              </li>
              <li>
                <span class="col-1">死傷者</span>
                <span class="col-2"><%= t.people %>人</span>
              </li>
            </div>
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete, class:"star" do %>
                  <i class="fa-sharp fa-solid fa-star"></i> <%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post, class:"starstar" do %>
                  <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count%>
                <% end %>
              <% end %>      
            <% else %>
              <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count %>
            <% end %>

            <% if user_signed_in? && current_user.id == t.user_id %>
              <li> <%= link_to "編集する", edit_tweet_path(t.id),class:"edit" %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete, class:"edit" %> </li>
            <% end %>
            <li><%= t.created_at.strftime('%Y/%m/%d') %></li>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <h4> タグ一覧 </h4>
    <div class="Polka2">
      <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
      <div class="tagtag">
        <% Tag.all.each do |t| %>
          <div class="tags">
            <%= check_box :tag_ids, t.name %><%= t.name %>
          </div>
        <% end %>
      <br> <%= submit_tag '検索', class:"tag_click" %> </br>
      </div>
      <% end %>



      <div class="tag">  
        <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
        <%= text_area_tag :tag, "", :size => "100" ,class:"tag_content"%>
        <%= submit_tag 'タグを追加', class:"tag_add" %>
        <% end %>
      </div>
    </div>
</div>