<h1>飛行機事故</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_tweet_path %>
<div class="tweets-container">

<% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= image_tag t.image2_url, size: "250x200" if t.image2? %>
      <%=  video_tag t.video_url ,:controls => true if t.video?%>
      <% unless t.youtube_url.blank? %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(t.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
      </td>
      <%= link_to t.user.name, user_path(t.user.id) %> 
      <%= t.user.email %>
      <%= t.title%>
      <%= t.date %>
      <%= t.place %>
      <%= t.model %>
      <%= t.company %>
      <%= t.about %>
      <%= t.people %>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="far fa-heart"></i> <%= t.likes.count %>
          <% end %>
       <% else %>
          <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <i class="far fa-heart"></i><%= t.likes.count %>
  <% end %>
      <%= t.created_at %>
      <%= link_to "詳細へ", tweet_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= link_to "削除する", tweet_path(t.id), method: :delete %>
    <% end %>
    </div>

  <% end %>

  <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>


</div>