
<div class="mypage">
  <div class="mypage Polka3">
    <h1>マイページ</h1>
    <div class="infor">
      <span class="box-title">ユーザー情報</span>
        <p>
          <span class="col-11">名前</span>
          <span class="col-21"><%= @user.name %></span>
        </p>
        <p>
          <span class="col-11">メールアドレス</span>
          <span class="col-21"><%= @user.email %></span>
        </p>
        <p>
          <span class="col-11">プロフィール</span>
          <span class="col-21"><%= @user.profile %></span>
        </p>
        <% if current_user.id == @user.id %>
          <%= link_to "編集する", edit_user_registration_path, class:"edit"%>
        <% end %>
    </div>

  <h3>ユーザーの投稿一覧</h3>
  <div class="bg_pettern Polka">
      <p> <%= link_to "新規投稿はこちら", new_tweet_path, class:"new-posts" %> </p>
    <div class="tweets-container">
      <% @user.tweets.each do |t| %>
        <div class="tweet">
          <ul style = "list-style-type:none;">
          <p> <%= link_to t.user.name, user_path(t.user.id),class:"user-name" %> </p>
          <li> <%= link_to t.title, tweet_path(t.id), class:"title"%> </li>
          <div class="data">
            <p> <%= t.date %>@<%= t.place %> </p>
          </div>
          <div class="about">
            <div class="abouts">
              <li>
                <span class="col-1">機種</span>
                <span class="col-2"><%= t.model %></span>
              </li>
              <li>
                <span class="col-1">会社</span>
                <span class="col-2"><%= t.company %></span>
              </li>
              <li>
                <span class="col-1">死傷者</span>
                <span class="col-2"><%= t.people %>人</span>
              </li>
            </div>
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete, class:"star" do %>
                  <i class="fa-sharp fa-solid fa-star"></i> <%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post, class:"starstar" do %>
                  <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count%>
                <% end %>
              <% end %>      
            <% else %>
              <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count %>
            <% end %>

            <% if user_signed_in? && current_user.id == t.user_id %>
              <li> <%= link_to "編集する", edit_tweet_path(t.id),class:"edit" %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete, class:"edit" %> </li>
            <% end %>
            <li><%= t.created_at.strftime('%Y/%m/%d') %></li>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <h3>ユーザーがいいねした投稿一覧</h3>
  <div class="bg_pettern Polka">
    <div class="tweets-container">
      <% @user.liked_tweets.each do |t| %>
        <div class="tweet">
          <ul style = "list-style-type:none;">
          <p> <%= link_to t.user.name, user_path(t.user.id),class:"user-name" %> </p>
          <li> <%= link_to t.title, tweet_path(t.id), class:"title"%> </li>
          <div class="data">
            <p> <%= t.date %>@<%= t.place %> </p>
          </div>
          <div class="about">
            <div class="abouts">
              <li>
                <span class="col-1">機種</span>
                <span class="col-2"><%= t.model %></span>
              </li>
              <li>
                <span class="col-1">会社</span>
                <span class="col-2"><%= t.company %></span>
              </li>
              <li>
                <span class="col-1">死傷者</span>
                <span class="col-2"><%= t.people %>人</span>
              </li>
            </div>
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete, class:"star" do %>
                  <i class="fa-sharp fa-solid fa-star"></i> <%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post, class:"starstar" do %>
                  <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count%>
                <% end %>
              <% end %>      
            <% else %>
              <i class="fa-sharp fa-solid fa-star"></i><%= t.likes.count %>
            <% end %>

            <% if user_signed_in? && current_user.id == t.user_id %>
              <li> <%= link_to "編集する", edit_tweet_path(t.id),class:"edit" %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete, class:"edit" %> </li>
            <% end %>
            <li><%= t.created_at.strftime('%Y/%m/%d') %></li>
          </div>
        </div>
      <% end %>
    </div>
  </div>

 <%= link_to "トップページに戻る", tweets_path, class:"edit" %>

</div>