<!DOCTYPE html>
<html>
  <head>
    <title>安全な空の旅のために</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a338762cbd.js"  crossorigin="anonymous"></script> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <!--   PC用のスタイルシート(default.css)   -->
    <link rel="stylesheet" media="all" type="text/css" href="default.css" />
    <!--   タブレット用のスタイルシート(tablet.css)   -->
    <link rel="stylesheet" media="all" type="text/css" href="tablet.css" />
    <!--   スマートフォン用のスタイルシート(smartphone.css)   -->
    <link rel="stylesheet" media="all" type="text/css" href="smartphone.css" />
  </head>

<body>
  <div class="header2 header3">
    <header>
      <div class="header-r">
        <%= link_to "安全な空の旅のために", tweets_path %>
      </div>
      <div class="header-list">
        <ul>
          <% if user_signed_in? %>
          <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
 </div>
 <main>
  <%= yield %>
 </main>
</body>

</html>
 